/*  <CSS of index.html>  */
.text-main-page {
    text-align: center;
}

#main-heading {
    margin: 5px;
}

#cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/*  </CSS of index.html>  */


h1, h2, .comic {
  font-family: 'Comic Sans MS';
}

#interests-list {
  font-size: 18px;
}

@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}

 
.box{
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #343a40;
}

.comic{
  font-size: 24px;
}