$github-color: #211F1F;
$insta-color: #E1306C;

%contact-bar {
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
}

body a div {
    color: white;
}

.github {
    @extend %contact-bar;
    background-color: $github-color;
}

.instagram {
    @extend %contact-bar;
    background-color: $insta-color;
}

.reddit {
    @extend %contact-bar;
    background-color: red;
}
    


table{
    border: 2px solid black;
    text-align: center;
    margin-left: 1em;

    th {
        border: 2px solid black;
        font-size: 24px;
        padding: 5px;
    }

    td {
        border: 2px solid black;
        font-size: 16px;
        padding: 5px;
    }
}
